 #H1{color: blue;
      text-align: center;
      text-shadow: 1px 1px 2px #999;
      text-decoration-line: underline;
      
     }
     H2{font-size: x-large;
   font-weight: 600;}
     
     #para{
        text-indent: 210px;
        font-style: italic;
        font-size: large;
        letter-spacing: 0.1PX;
        line-height: 24PX;
     }
BODY{
   font-style: italic;
  border: 5px solid black;
  padding: 30px;
}
input[type="submit"]:hover {
  background-color: #0a87e7;
 